extends ../admin/layout

block topnavbar
    include logintopnavbar

block subnavbar

block extra

block footer

append css
    link(href="/css/app/home/login.css", rel="stylesheet", type="text/css")

append scripts
    // script(type="text/javascript", src="/js/app/home/login.js")