script(src="/js/CardBlancSite.js")
script(src="/js/CardBlancAdminSite.js")
script(src="/js/cbModules.js")
script(src="/js/utils/utils.js")
script(src="/js/utils/loadingState.js")
script(src="/js/widgets/widgets.js")
script(src="/js/widgets/logo.js")
script(src="/js/widgets/page.js")
script(src="/js/vendor/spin.js")
script(src="/js/widgets/loading.js")
script(src="/js/widgets/iphone.js")
script(src="/js/controllers/CardBlancController.js")
script(src="/js/controllers/HomeController.js")
script(src="/js/controllers/SignupController.js")
script(src="/js/controllers/admin/ProductController.js")
script(src="/js/controllers/admin/SignupController.js")
script(src="/js/controllers/admin/PromoCodesController.js")
script(src="/js/controllers/admin/UsageController.js")