extends layout

prepend container
    // include facebook_base

append css
    link(rel="stylesheet", href="css/meter.css")

append scripts
    // script(src="phonegap.js")
    // script(src="childbrowser.js")

// append pages
    // include footer
append container