#home(data-role="page", data-theme="a", data-add-back-btn="false", )
    .header(data-role="header")
        h1 {{dialog.title}}
    #homeContent(data-role="content")
        p {{dialog.content}}
        p
            a(href="#", data-rel="back") OK