#page-bottom
    footer#footer-nav
        .container
            .row
                .col-xs-12.col-sm-12.col-md-6.col-lg-6.hidden-xs.hidden-sm
                    ul.list_footer
                        li
                            a.active(href="/") HOME
                        li
                            a(href="/signup") SIGN UP FREE
                        li
                            a(href="/about") ABOUT CARDBLANC
                        li
                            a(href="http://blog.mycardblanc.com") BLOG
                        li
                            a(href="https://www.facebook.com/mycardblanc")
                                img(src="img/facebook_32.png")
                        li
                            a(href="https://twitter.com/mycardblanc")
                                img(src="img/twitter_32.png")
                .col-xs-12.col-sm-12.col-md-6.col-lg-6
                    p.copyright &copy; 2014 CardBlanc