#page-top(data-type="background", data-speed="10")
    header#masthead
        nav.navbar.navbar-default.gradient-topbottom(role="navigation")
            .container
                .navbar-header
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target="#nav-header")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand.tac(href="/")
            #nav-header.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right.animated.fadeInDown
                    li.active
                        a(href="#") HOME
                    li
                        a(href="#") SIGN UP FREE
                    li
                        a.custom_pad(href="#")
                            span.fa-stack.fa-lg
                                i.fa.fa-circle.fa-stack-2x.fa-fb
                                i.fa.fa-facebook.fa-stack.1x.fa-inverse
                    li
                        a.custom_pad(href="#")
                            span.fa-stack.fa-lg
                                i.fa.fa-circle.fa-stack-2x.fa-tw
                                i.fa.fa-twitter.fa-stack-1x.fa-inverse
