|<!--[if IE]>
|   <script src="/js/jquery.placeholder.min.js"></script> 
|   <script type="text/javascript">
|       $(document.on('deviceready', function() {
|           $('input, textarea').placeholder();
|       });
|   </script>
| <![endif]-->