script(src="js/vendor/modernizr-2.6.2.min.js")
script(src="js/vendor/legacy.js")
script(src="components/handlebars/handlebars.min.js")
script(src="components/bootstrap/dist/js/bootstrap.min.js")
script(src="js/vendor/modernizr.custom.js")
script(src="js/vendor/classie.js")
script(src="js/vendor/cbpScroller.js")
script(src="js/vendor/smoothscroll.js")