script(src="/socket.io/socket.io.js")
script(src="components/jquery/dist/jquery.min.js")
script(src="/js/vendor/bower_components/angular/angular.min.js")
script(src="/js/vendor/bower_components/angular-resource/angular-resource.min.js")
script(src="/js/vendor/bower_components/ng-grid/ng-grid-2.0.7.debug.js")
script(src="/js/vendor/underscore-min.js")
script(src="/js/vendor/spin.js")